.description-deposits {
  background-color: white;
  color: var(--secondary-text-color);
}

.description-deposits__wrap {
  margin: 0 auto;
  display: flex;
  max-width: 1920px;
  background: url("/img/deposDescr.jpeg") top right no-repeat;
}

.description-deposits__container {
  display: flex;
}
.description-deposits__wrap-left {
  padding: 60px 0 240px 0;
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 323px;
}

.description-deposits__text-wrap {
  max-width: 555px;
}

.description-deposits__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  margin-bottom: 48px;
}

.description-deposits__text {
  font-size: 16px;
  line-height: 26px;
}

.description-deposits__wrap-right {
  max-width: 580px;
  padding: 80px 20px 100px 30px;
  background-color: white;
  align-self: flex-end;
  border-radius: 20px;
  display: flex;
  gap: 40px;

  img {
    height: 648px;
    width: 182px;
  }
}

.description-deposits__list {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  list-style: none;
  padding-top: 24px;

  .item-1 {
    margin-bottom: 93px;
    a {
      color: #5cb3ff;
    }
  }
  .item-2 {
    margin-bottom: 88px;
  }
  .item-3 {
    margin-bottom: 69px;
  }
  .item-4 {
    margin-bottom: 50px;
  }
}
