.description { 
  background-image: url('./img/bg-pattern.svg');
  padding: 136px 0px;

  &__container{ 
    display: flex;
    justify-content: space-between;
    gap: 90px; 
    align-items: center;

    flex-direction: column;

    @include desktop { 
      flex-direction: row;
    }
  }
  &__title { 
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.96px;
    line-height: 60px;
    margin-bottom: 30px;
  }

  &__text { 
    font-size: 18px;
  font-weight: 400;
  line-height: 140%
  }

  &__text--second { 
    margin-top: 20px;
  }

  &__image-wrp { 
    max-width: 559px;
    border-radius: 20px;
    overflow: hidden;
  }
} 
