.poof {
  background: #fafbff;
  padding: 120px 0;
  color: #101010;
}

.poof__cards {
  list-style: none;
  display: flex;
  gap: 40px;
}
.poof__card {
  padding: 34px;
  width: calc((100% - 40px) / 2);
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 36px;

  div {
    padding: 34px;
    background-color: #fafbff;
    border-radius: 20px;

    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 24px;
    }
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }

  strong {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
  }
}
.poof__checkbox {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  li {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  img {
    width: 22px;
    height: 22px;
  }
  span {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }
}
