.verification {
  background: url("../img/verifyBG.jpeg") center no-repeat;
}

.verification__container {
  display: flex;
  padding: 100px 20px 86px 20px;
  gap: 45px;

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }
}

.verification__wrap-left {
  max-width: 512px;

  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    margin-bottom: 48px;
  }
}

.verification__wrap-right {
  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    max-width: 500px;
    margin-bottom: 40px;
  }
  ul {
    list-style: none;
  }
  a {
    color: white;
  }
  p {
    margin-top: 122px;
  }
}

.verification__card {
  display: flex;
  padding: 17px;
  background-color: white;
  color: #101010;
  border-radius: 6px;
  gap: 12px;
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;

  img {
    width: 34px;
    height: 34px;
  }
}
