//   @include flex (flex, center, space-between, null );
@mixin flex($d:flex, $ai:center, $jc:center, $g:30px) {
    display: $d;
    align-items: $ai;
    justify-content: $jc;
    gap: $g;
  }
//   @include flex-wrap (flex, wrap, column, null );
@mixin flex-wrap ($df, $dw, $fd, $dg) { 
  display: $df;
  flex-wrap: $dw;
  flex-direction: $fd;
  gap: $dg;

}

@mixin mini-mobile {
  @media screen and (min-width: 280px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
